    body {
        margin: 0;
    }

    .walkingSquare {
        --rotations: 720;
        --width: 75px;
        --yoffset: 0px;
        --xoffset: 0px;
        background-image: url("../assets/logotransparentgray.png");
        background-size: contain;
/*        border-radius: 3px;*/
        background-color: #048BA8;
        height: var(--width);
        width: var(--width);
        margin-top: calc(var(--width)/3);
        transform-origin: center;
        transform: translate(calc((var(--rotations)/90)*var(--width)), var(--yoffset)) rotate(calc(var(--rotations)*1deg));
    }
    .border {
        border-bottom: 1px solid black;
        width: 100%;
    }